@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,600&family=Pathway+Extreme:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,600&family=Pathway+Extreme:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Lora:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,600&family=Pathway+Extreme:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}

/* ******************************************** Nav Bar ********************************************* */
.nav-bar
{
    display: flex;
    height: 12vh;
    background-color: black;
  align-items: center;
  align-content: center;
  justify-content: left;
    position: sticky;
    top: 0;
    /* cursor: pointer; */
   
}
.logo
{
    width: 67px;
    border-radius: 50px;
   margin-left: 3rem;
}


/* ******************************************** Section 1 ****************************************** */

.section1
{
 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box
{
    display: flex;
    width: 57%;
    
    height: 90%;
   
    flex-direction: column;
}
.head
{
    width: 70%;

    height: 20%;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
}
.title
{
    font-size: 49px;
}
.subtitle
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.box2
{
    display: flex;
    flex-direction: row;
}
.b3
{
    display: flex;
    flex-direction: column;
    width: 47%;
    
}
.b{
    width: 6%;
}
/* .name
{
    width: 100%;
} */

/* ********************************** From Styling ********************************** */
.form
{
    
    width: 100%;
}
.text
{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    padding: 8px 0;
}
input{
    border: none;
    background-color: #F2F2F2;
    width: 100%;
    padding: 1rem 1rem;
    outline: none;
}
input:focus
{
    border: 3px solid #42b3f0;
}
input::placeholder
{
    display: inline;
    padding-top: 0.5rem; /* Adjust the value as per your preference */
    padding-top: 3rem;
   
}
select
{
    border: none;
    background-color: #F2F2F2;
    width: 100%;
    padding: 1rem 1rem;
    outline: none;
}
select:focus
{
    border: 3px solid #42b3f0;
}
.option
{
    border: none;
    background-color: #F2F2F2;
    width: 100%;
    padding: 1rem 1rem;
    outline: none;
    color: rgb(94, 92, 92);
}

.space
{
    height: 14vh;
}

/* *********************************** Button ******************************** */
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: #42b3f0;
    color: white;
    padding: 20px 45px;
    margin-top: 2rem;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.button
{
    display: flex;
    justify-content: center;
}
.btn:hover
{
    cursor: pointer;
    background-color: #0ea3f3;
}